version: "3"
services:
  bento-service:
    image: document_classifier_service:klpdnefs424gydo4  # Utiliser l'image locale
    container_name: bento-container
    ports:
      - "3000:3000"  # Mapping du port local vers le port du conteneur
    volumes:
      - ./data:/app/data  # Si vous avez besoin de monter des volumes
      - ./src/models:/app/models
      - ./bentofile.yaml:/bentoml/bentofile.yaml  # Montez le fichier bentofile.yaml

