global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'ml_metrics'
    static_configs:
      - targets: ['metrics_exporter:8000']
    
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'node_exporter'
    static_configs:
      - targets: ['node_exporter:9100']    

  - job_name: "bentoml_service"
    static_configs:
      - targets: ["bentoml-service:3000"]